<!DOCTYPE html>
<html>
<head>

    <title>Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap Embedded -->
{#    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="{% static "css/stylesheet-si_exp.css" %}">#}
{#    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>#}

    <!-- User Embedded -->
{#    <link rel="stylesheet" type="text/css" href="stylesheet-si_exp.css">#}
{#    <link rel="stylesheet" type="text/css" href="layout.css">#}
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
{#    <script type="text/javascript" src="javascript.js"></script>#}

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/936bbf24d4.js"></script>

</head>
{% block body %}{% endblock %}
{% block member_dashboard %}{% endblock %}
{% block department_dashboard %}{% endblock %}

</body>
</html>