{% extends 'portal/base.html' %}

{% block department_dashboard %}

    <div class="page-inner">
            <div class="page-breadcrumb">
                <ol class="breadcrumb container">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Dashboard</li>
                    <li class="active">View Questions</li>
                </ol>
            </div>
            <div class="page-title">
                <div class="container">
                    <h3>{{ title }}</h3>
                </div>
            </div>

            <div class="container">
            <div class="row">
                {% for r in recommendation %}
                    <div>Question :<a href="{% url 'department_collaboration' %}{{ r.question.id }}/answer/">{{ r.question.text }}</a></div>
                    <div>Asked By :{{ r.by.department_name }}</div>
                {% endfor %}
            </div>
            </div>

    </div>

{% endblock %}