{% extends 'portal/base.html' %}

{% block department_dashboard %}

    <div class="page-inner">
            <div class="page-breadcrumb">
                <ol class="breadcrumb container">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Dashboard</li>
                    <li class="active">View Questions</li>
                </ol>
            </div>
            <div class="page-title">
                <div class="container">
                    <h3>View Questions</h3>
                </div>
            </div>
    </div>

{% endblock %}