<!DOCTYPE html>
<html>
<head>
<body>
<div class="container">
    <div class="w3-card-4">

        <header class="w3-container w3-blue">
            <h1>Ministry online portal</h1>
        </header>

        <div class="w3-container">
            <p>{{ content.title }}</p>
            <p>Send By: {{ content.send_by }}</p>
            <p>Send To: {{ content.send_to }}</p>
            <p>subject :{{ content.subject }}</p>
            <p>type :{{ content.type }}</p>
            <p>Question :{{ content.question }}</p>
        </div>

        <footer class="w3-container w3-blue">
            <h5>Footer</h5>
        </footer>
    </div>
</div>
</body>

</html>
