{% extends "portal/base.html" %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title">Member of Parliament</h3>
                                <p class="card-text">Login for Member of Parliament</p>
                                <a href="{% url 'member_login' %}" class="btn btn-success">Member Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title">Ministry of India</h3>
                                <p class="card-text">Login for Ministry.</p>
                                <a href="{% url 'department_login' %}" class="btn btn-success">Ministry Login</a>
                            </div>
                        </div>
                    </div>
                </div>
{#                <a href="{% url 'member_login' %}">Login as a member</a>#}
{#                <a href="">Login as a Department</a>#}
            </div>
        </div>
    </div>
{% endblock %}